.user-panel .image{
    height: 45px;
    width: 45px;
    overflow: hidden;
    display: flex;
    position: relative;

    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
    }
}


.sidebar-collapse .user-panel .image{
    height: auto;
    width: auto;
    position: static;
    display: block;

    img{
        position: static;
        transform: none;
    }
}


.profile{
    text-align: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}

#profile .info {
    margin-top: 8px;
}

.app-form input, .app-form textarea{
    text-transform: uppercase !important;
}

.widget-user-2 .widget-user-image>img {
    height: 60px !important;
}


span.remarks {
    padding: 8px;
    margin-left: 15px;
    background: #f5f5f5;
    border-left: 3px solid #999;
    font-style: italic;
    font-size: 13px;
}

span.remarkStat{
    margin-left: 15px;
}


.cursor-pointer{
    cursor: pointer;
}


.widget-user .widget-user-image>img {
    height: 90px !important;
}

.btn-simple{
    border: 0;
    outline: 0;
    background: none;
    border-radius: 0;
}

.invalid-feedback{
    color: red;
}