html, body {
    border: 0;
    padding: 0;
    margin: 0;
    color: #444;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease-in-out;
}
a {
    text-decoration: none !important;
}
header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url('img/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;


    .button {
        font-size: 14px;
        padding: 8px 15px;
        border-radius: 35px;
        text-transform: uppercase;
    }

    nav{
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 25px;
        text-transform: uppercase;

        #home{
            background: #fff;
            color: #16A085;
            border: 1px solid transparent;

            &:hover{
                background: #fff;
                color: #16A085;
                border-color: transparent;
            }
        }

        #login{
            border: 1px solid #16A085;
            color: #16A085;
            margin-right: 15px;

            &:hover{
                background: #fff;
                color: #16A085;
                border-color: transparent;
            }
        }

        #register{
            background: #16A085;
            color: #fff;
            border-width: 1px;
            &:hover{
                background: #fff;
                color: #16A085;
            }
        }

        .brand{
            font-size: 20px;
            color: #fff;
            font-weight: 600;
        }
    }

    .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        .quote{
            width: 600px;
            background: rgba(255,255,255,0.75);
            border-radius: 15px;
            padding: 35px 25px 25px;

            .ar{
                font-family: 'Cairo', sans-serif;
                text-align: right;
            }
            .qala{
                color: #C0392B;
            }

            .main-qala{
                padding: 25px 0;
            }

            .main-qala-text{
                color: #16A085;
                font-size: 30px;
                font-weight: 600;

                small{
                    font-size: 15px;
                }
            }

            .eng{
                padding: 0 0 0 60px;
            }

            .quote-pic{
                position: absolute;
                width: 100%;
                top: 0;
                left: 20px;

                img{
                    position: absolute;
                    top: 10px;
                    opacity: .8;
                }
            }

            .college{
                position: absolute;
                top: -30px;
                padding: 15px;
                background: #fff;
                border-radius: 35px;
                box-shadow: 0 0 10px -5px #999;
                left: 50%;
                transform: translateX(-50%);
                box-sizing: border-box;
                width: 370px;
                text-align: center;
                border-bottom: 3px solid #16A085;
            }
        }

        .apply-btn {
            padding: 20px;
            text-align: center;
            color: #fff;

            #apply{
                background: #C0392B;
                color: #fff;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }


}

header#result{
    height: 35vh;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('img/bg3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
}

.section{
    padding: 80px 0;

    .section-head h2{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 35px;
    }
}

#howto{
    .steps{
        padding: 25px;
    }

    ol{
        list-style: none;
        counter-reset: steps;
        padding: 0;

        li{
            counter-increment: steps;
            margin-bottom: 5px;

            &::before{
                content: counter(steps);
                margin-right: 0.8rem;
                background: #16A085;
                color: #fff;
                width: 2rem;
                height: 2rem;
                padding-top: 0.4rem;
                text-align: center;
                display: inline-block;
                box-sizing: border-box;
                border-radius: 8px;
            }
        }
    }
}
.dark{
    background: #f1f1f1;
}

section#result{
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('img/bg3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    background: #222;
    color: #999;
    padding: 15px;
    font-size: 14px;
}
@media screen and (max-width: 568px) {
    header {
        .content{
            width: 90%;
            margin: auto;
            font-size: 14px;

            .quote{
                width: 100%;

                .qala{
                    font-size: 13px;
                }

                .main-qala-text {
                    font-size: 20px;

                    small{
                        display: none;
                    }
                }

                .eng{
                    font-size: 14px;
                    padding-left: 30px;
                }

                .quote-pic img{
                    width: 35px;
                    height: 35px;
                }

                .college{
                    padding: 10px;
                    border: 0;
                    top: -50px;
                    width: 100%;
                }
            }
        }


    }

    .section{
        padding: 80px 0;

        .section-head h2{
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 35px;
            font-size: 18px;
        }
    }


    #howto{
        .steps{
            padding: 25px 0;
        }

            ol{
                padding: 0;
                li{
                    font-size: 14px;
                }
            }
    }



    footer{
        font-size: 12px;
    }

    table{
        font-size: 14px;
    }
}
